body {
    margin: 0;
    font-size: 15px;
    color: #32373F;
    word-wrap: break-word;
    line-height: 1.6em;
    background-color: #d3f8d8;
    font-family: 'Avenir Next', 'Avenir', 'Arial', sans-serif;
    padding: 20px;
    min-height: 100vh;
    background-image: url('./Copainbits/FondWds.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.character-display img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

#joystick-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: grid;
    grid-template-columns: 50px;
    grid-template-rows: 50px 50px 50px;
    gap: 10px;
    justify-items: center;
    align-items: center;
    z-index: 4;
}

.joystick-btn {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.joystick-btn:active {
    background-color: rgba(0, 0, 0, 0.8);
}

.door {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%) scale(0.2);
    cursor: pointer;
    z-index: 2;
}

.house-background {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%) scale(0.2);
    z-index: 1;
}
