body {
    margin: 0;
    font-size: 15px;
    color: #32373F;
    word-wrap: break-word;
    line-height: 1.6em;
    background-color: #d3f8d8;
    font-family: 'Avenir Next', 'Avenir', 'Arial', sans-serif;
    padding: 20px;
    min-height: 100vh;
    background-image: url('./Copainbits/FondWds.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.character-display img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}
